{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container bg-light shadow-md p-5 form-layout">
        <h3>Update record</h3>
        <h6>Update your record down below. </h6>
        <form method="post" autocomplete="off">
            {% csrf_token %}

            {{form4.first_name|as_crispy_field}}

            <br>

            {{form4.last_name|as_crispy_field}}

            <br>

            {{form4.email|as_crispy_field}}

            <br>

            {{form4.phone|as_crispy_field}}

            <br>

            {{form4.address|as_crispy_field}}

            <br>

            {{form4.city|as_crispy_field}}

            <br>

            {{form4.province|as_crispy_field}}

            <br>

            {{form4.country|as_crispy_field}}

            <br>

            <button type="submit" class="btn btn-info">Update record &nbsp; <i class="fa fa-plus" aria-hidden="true"></i></button>
            <a href="{% url 'dashboard' %}" class="btn btn-primary">Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </form>
    </div>
    <br>

{% endblock %}